 /* Suggestions.css */
 .suggestions {
    margin: 20px 0;
  }
  
  .suggestions .mixes {
    display: flex;
    gap: 20px;
  }
  
  .suggestions .mix {
    background-color: rgb(248, 222, 222);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .suggestions .mix-cover {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .suggestions .mix-info h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .suggestions .mix-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
  }